#privacy
  .container
    :markdown
      # Privacy Information

      Luminise Care Solutions Pty Ltd respects and upholds individuals’ rights to privacy and their rights to access their personal information. As a result the organisation has processes in place to protect the privacy of personal information it collects, holds and administers in the process of providing its services. These commitments are undertaken in compliance with the Australian Privacy Principles as outlined in the *Privacy Amendment (Enhancing Privacy Protection) Act 2012* and the *Privacy Act 1988*.

      ### Collection

      It is our usual practice to collect personal information (including health and sensitive information) directly from the individual or their authorised representative. Sometimes we may collect information from a third party, but only with the individual’s or their authorised representative’s consent. The organisation will only collect information for the purpose directly related to our functions and activities. For example, information required for best possible care and service provision, billing or property purchase. When collecting information individuals will be informed of the reasons for its collection and the way it will be used. Luminise Care Solutions will make individuals’ information available to them upon request.

      ### Use and Disclosure
      Luminise Care Solutions will only use personal information for the purposes for which it was given to us, or for purposes which are directly related to service delivery or organisational activities, and we do not give it to other government agencies, organisations or anyone else unless one of the following applies:
        * The individual has consented;
        * The purpose is directly related to the purpose indicated at the time of collection and the individual would reasonably expect that information of that kind is usually passed to appropriate individuals, bodies or agencies;
        * It is otherwise required or authorised by law or court proceedings;
        * It will prevent or lessen a serious and imminent threat to somebody's life or health;
        * It is reasonably necessary for the enforcement of the criminal law; or
        * An individual is incapable of giving or communicating consent and personal information is required to be given to a ‘responsible person’ for the necessary provision of appropriate care or treatment or for compassionate reasons.

      ### Data Quality
      Luminise Care Solutions will endeavour to ensure that personal information collected is relevant, accurate, complete, and up-to-date for the purpose for which it is to be used, both at the time of collection and of use. This will include maintaining and updating personal information when we are advised by individuals that their personal information has changed, and at other times as necessary.

      ### Data Security
      Luminise Care Solutions will endeavor to protect personal information against loss, unauthorised access, use, modification or disclosure, and against other misuse. This includes password protection for accessing our electronic IT system, securing paper files in locked cabinets/areas and physical access restrictions. When no longer required, personal information will be destroyed or deleted in a secure manner.

      ### Openness
      In addition to this Privacy Policy, the Luminise Care Solutions consent form includes information about how personal information may be used or disclosed. If Luminise Care Solutions receives unsolicited personal information we will notify the individual at the time of, or as soon as practicable, that we have received personal information from someone other that themselves, the circumstances of that collection and the purpose for which the information is required.

      If the information could not have been collected with consent from the individual or their authorised representative, the organisation will, as soon as practicable, destroy the information or ensure the information is de-identified.

      ### Access and Correction
      If an individual requests access to the personal information we hold about them, or requests that we change that personal information, we will allow access or make the changes unless we consider that there is a sound reason under the *Privacy Act, Freedom Of Information Act* or other relevant law to withhold the information, or not make the changes.

      If we do not agree to provide access to personal information or to amend or annotate the information we hold about them, the individual may seek a review of our decision or may appeal our decision under the *Freedom Of Information Act*.

      If we do not agree to make requested changes to personal information the individual may make a statement about the requested changes and we will attach this to the record.

      Refusal by Luminise Care Solutions to amend or release personal information to the individual will be provided via a written notice that outlines the reasons or grounds for refusal, and the mechanisms for complaint. Individuals can obtain further information about how to request access or changes to the information we hold about them by contacting us on [1300 138 065](tel:1300138065).

      ### Identifiers
      Luminise Care Solutions will identify individuals (including clients and employees) by a unique identifier assigned internally. Luminise Care Solutions may, however, retain a record of other external personal identifiers that are required to provide services, coordinate care with other organisations, or otherwise fulfill service, operational or reporting requirements.

      ### Anonymity
      Where lawful and practicable individuals can participate in activities anonymously.

      ### Marketing our Products and Services
      We may use or disclose personal information to let customers and their families know about, and to develop, products and services in which they may be interested. Individuals can contact us at any time if they no longer wish us to use their information in this way by calling [1300 138 065](tel:1300138065).

      ### Overseas Sharing of Information
      Luminise Care Solutions will not transfer personal information to third parties outside Australia unless individual’s consent has been obtained or other Australian Privacy Principles apply.

      ### Internet and Email
      Luminise Care Solutions collects personal information and makes use of cookies in its websites. However this is only used to log statistical information such as page hits and to record requests for information or feedback.

      As emails can be sent more efficiently and economically than postal mail, we give our customers and their families the opportunity to supply their email address and consent to use of these for mailing purposes.

      ### Complaints
      If an individual believes that Luminise Care Solutions has breached any aspect of this privacy policy or the associated legislation a complaint may be lodged with the Luminise Care Solutions corporate office by calling [1300 138 065](tel:1300138065). If the complaint is not addressed to the individual’s satisfaction, or they do not wish to approach Luminise Care Solutions in the first instance, they have the opportunity to direct the issue to the Commonwealth Government Information Commissioner (Enquiries Line on [1300 363 992](tel:1300363992), [http://www.oaic.gov.au](http://www.oaic.gov.au) ).

      ### Policy Review
      This policy is reviewed in line with the Luminise Care Solutions review schedule, and when there are legislative changes affecting the policy content.

