#banner
  .container
    != partial("_navbar")
    .punch-line
      p
        i.icon-quote-left
        | We optimize the health and well-being of older
        | Australians through professional leadership and
        | quality care
        i.icon-quote-right
    //- .contact-form
      #banner-form-placeholder
  //- .container
  //-   .phone
      // - p 1300 138 065
