#footer
  .container
    p &copy; Luminise Pty Ltd. 2015&nbsp;|&nbsp;
      a(href="/privacy") Privacy Policy
      span.contact
        | Contact Danielle - 
        a(href="tel:0427665804") 0427 665 804

