doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Luminise
    meta(name="description" content="Consultancy and software solutions for organisations working in Aged Care – predominantly community and retirement village operators.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='//fonts.googleapis.com/css?family=Exo+2:600|Roboto' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/assets/css/main.css")
  body
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    != yield

    //- Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46281724-4', 'auto');
      ga('send', 'pageview');

