.container
  h1 VISION AND MISSION
  p
      | To optimize the health and well-being of older
      | Australians through professional leadership and
      | quality care; maximising their independence and
      | enjoyment of life.
