#objectives
  .container
    h1.head-info Our Organisational Objectives
    .container
      .objective-card
        h3 BE WARM
        p
          | We welcome, engage and care for our clients.
          | It is this sense of personalised service that
          | creates a positive experience.
      .objective-card
        h3 BE TRUSTED
        p
          | We are renowned for delivering high quality,
          | innovative solutions in the home care sector.
          | This builds industry recognition and trusted
          | relationships with all our stakeholders.
      .objective-card
        h3 BE EASY
        p
          | Our highly organised systems and structures enable us
          | to deliver the best possible outcomes for our clients.
      .objective-card
        h3 BE THE BEST
        p
          | We are professionals - the best in the business.
          | Our values are important to our brand's success
          | and it is that commitment that sets us apart.
