#services
  .container
    h1.head-info Our Services
    .services-card
      .services-desc
        h3 CONSULTANCY
        p
          | We offer professional consultancy services to
          | organisations looking to introduce or improve their
          | current business systems. This includes service-
          | modeling advice, documentation development and
          | funding applications at competitive pricing. We
          | specialise in developing car delivery systems for
          | Retirement Village enviroments.
      .services-pic
        p: i.icon-bubbles3

    .services-card
      .services-pic
        p: i.icon-home
      .services-desc
        h3 HOME CARE
        p
          | We offer Registered Nurse case management and
          | clinical services, and will assist you in identifying
          | and achieving your wellness goals. This includes case
          | management, wound care, continence advice, and
          | technical nursing services.

    .services-card
      .services-desc
        h3 QUALITY MANAGMENT SYSTEM
        p
          | We offer professional quality improvement service
          | designed to improve the whole of business sucess and
          | quality compliance. This includes reviewing software
          | applications for best outcomes, independent auditing
          | of implemented systems and improvement advice, police
          | and procedure development that is tailored to your
          | organisation and quality systems to ensure continuous
          | improvement (including auditing, feedback and
          | incident management).
      .services-pic
        p: i.icon-clipboard

    .services-card
      .services-pic
        P: i.icon-medkit
      .services-desc
        h3 TRAINING
        p
          | We are accredited CPR and First Aid trainers, and
          | offer these courses to organisations requiring staff
          | up skilling.
