#services
  h1.head-info Our Services

  .consultancy
    .icon
      i.icon-bubbles3
    .content
      :markdown
        ### Consultancy

        Luminise provides advice to organisations working in Aged Care – primarily in community care and
        retirement village modelling. We are also an Approved Provider for Aged Care. Luminise is currently 
        providing services to clients that include:

        - Financial Governance (including cash flow, unit costs and general analytics)
        - Quality Management governance (including the development of software options),
        - Service modeling and the development of new innovative approaches,
        - Auditing, benchmarking and strategic planning,
        - Government applications such as Approved Provider and ACAR submissions, and
        - Case management

        We currently work closely with The Henley on Broadwater located at the Gold Coast Queensland. The
        Henley is a new emerging model of Aged Care that provides true aging in place. Services have included 
        model development, financial analyses (including cash flow projections) organisational structure advice, 
        Quality Management, and on-site management/implementation/training for the care team located on-site.


  .qms
    .content
      :markdown
        ### Quality Management System

        Luminise has partnered with Lucent Labs (an IT company) and is currently developing a comprehensive
        cloud based solution for Quality Management.

        Providing care services carries serious business risks and legal consequences. With a wide range of 
        governing laws and guidelines it is essential for organisations to understand these requirements and 
        remain aware of changes as they occur. Combining the specialised skills that Luminise and Lucent Labs 
        possess has enabled us to develop a high quality solution for organisations to meet their requirements and 
        also drive a business that remains ahead of the pack.

        The Quality Management System provides all the documentation and processes required to deliver care
        services and includes:

        - A full suite of Care policies and procedures that is kept up to date at all times. These can be tailored to different care service options and are specific to organisational  preferences and structure. Current policies and procedures have been written to meet the specific requirements of retirement villages providing care services on-site.
        - Workflows to enhance efficiency and meet legislative requirements including:
          * Staff governance documentation and recording
          * WHS reporting
          * Care assessments and care planning
          * Staff meetings
          * Feedback
          * Continuous improvement
        - Training calendars and e-learning solutions for Mandatory Training
        
    .icon
      p: i.icon-clipboard

