#values
  .container
    .heading
      h1 Our Values
    .value-card
      i.icon-bank
      span.value Trust
      p
        |Honest and reliable approach to service delivery
    .value-card
      i.icon-group
      span.value Respect
      p
        | Valuing  diversity and the contribution of all
        | people
    .value-card
      i.icon-justice
      span.value Fairness
      p
        | Ensuring an equitable approach, underpinned by
        | justice
    .value-card
      i.icon-medal
      span.value Quality
      p
        | Striving for excellence through a systematic,
        | continuous improvement approach
