!= partial("_banner")
!= partial("_values")
!= partial("_services")
!= partial("_objectives")
!= partial("_footer-form")
!= partial("_footer")

//- .header
//-   .container
//-     .logo
//-       img#img-logo
//-     .phone
//-       // - p 1300 138 065

//- .container
//-   hr

//- #company-principles
//-   .container
//-     h1 VISION AND MISSION
//-     p
//-         | To optimize the health and well-being of older
//-         | Australians through professional leadership and
//-         | quality care; maximising their independence and
//-         | enjoyment of life.
//-     h1 VALUES
//-     .container
//-       .test
//-         span.value Trust
//-         p
//-           |Honest and reliable approach to service delivery
//-       .test
//-         span.value Respect
//-         p
//-           | Valuing  diversity and the contribution of all
//-           | people
//-       .test
//-         span.value Fairness
//-         p
//-           | Ensuring an equitable approach, underpinned by
//-           | justice
//-       .test
//-         span.value Quality
//-         p
//-           | Striving for excellence through a systematic,
//-           | continuous improvement approach

//- .container
//-   #contact-form

//- .container
//-   hr


//- .container
//-   hr


//- .container
//-   hr

//- #org-directors
//-   .container
//-     h1.info-header Our Director
//-     .container
//-       p.d-text
//-         | The Director of Luminise Care Solutions is
//-         | currently engaged to Freedom Total Life Care to
//-         | provide corporate management of care delivery into
//-         | their Retirement Villages. This team comprises of
//-         | Registered Nurses, personal care workers and support
//-         | staff, and currently provides 24-hour care support
//-         | to over 100 consumers. Luminise Care Solutions has
//-         | also overseen the implementation of comprehensive
//-         | quality management system covering all aspects of
//-         | the business (including care delivery), which
//-         | complies with the requirements of the Aged Care Act.
//-       p.d-text
//-         | The Director of Luminise brings a history of
//-         | successfully managing services through many
//-         | community care audits including Home Care Packages,
//-         | Home And Community Care, Disability Services,
//-         | Department of Veteran Affairs Community Nursing and
//-         | Veterans Home Care. Danielle has managed CDC pilot
//-         | package implementation in her previous employment.
//-         | This required identifying and inculcating a number
//-         | of changes within the organisational structure to
//-         | embed consumer directed care philosophy.
//-   .container
//-     h2.director DANIELLE RUNGE
//-     p#qualifications Bachelor Nursing - Registered Nurse, Dip Managment, Cert IV Training and Assessment
//-     .container
//-       .pic-box
//-         img#profile-pic
//-       .profile-box
//-         p
//-           | Danielle has worked in a wide range of senior
//-           | management positions in Home Care delivery for the
//-           | last 5 years including direct service management,
//-           | business, resource and finance management. Within
//-           | these roles she was responsible for implementing a
//-           | number of government funded care services including
//-           | Home Care Packages, DVA Community Nursing and Sub-
//-           | Acute Care. Danielle has spent eighteen months in
//-           | the role of Quality Manager with PresCare. In this
//-           | role she oversaw the quality management system and
//-           | supported care services in quality compliance and
//-           | through Departmental audit processes.
//-         p
//-           | Quality improvements implemented include an electronic consumer feedback system, review of policies and procedures across all parts of the organisation, the development and implementation of the medication manual specifically written for community care and an organisation

//- .container
//-   hr


//- .construction
//-   p Under Construction
