#team

  h3.our-team

  .member
    .pic 
    .content
      :markdown
        ### Danielle Runge - Director

        ##### Bachelor Nursing – Registered Nurse, Dip Management, Cert IV Training and Assessment

        Danielle has worked in a wide range of senior management positions in Home Care delivery over the last 
        10 years including direct service management, business, resource and finance management. Within these 
        roles she was responsible for implementing a number of government funded care services including Home 
        Care Packages DVA Community Nursing and Sub-Acute Care. Danielle also spent 18 months as the Quality 
        Manager at PresCare. In this role she oversaw the quality management system and supported care services 
        through quality compliance auditing in a number of areas including Home Care Packages, Residential Aged 
        Care, DVA services, Disability Services, HACC, Day Therapy (Allied Health) and Retirement Village 
        operations.

        Danielle now specialises in providing aging-in-place options for Retirement Villages and has spent the last 5 
        years working in executive positions with the leading organisations in this area (including Seasons Aged 
        Care, Freedom Aged Care and The Henley on Broadwater). During this time she has gained a vast amount 
        of knowledge in the delivery of care in these environments and finding solutions to the problems that this 
        new approach brings. With her wide range of skill sets and nursing background she is able to provide 
        overarching advice around all avenues of operational needs including finance, quality and the delivery of 
        services.

  .member
    .pic
    .content
      :markdown
        ### Belinda Kiakpe – Quality Consultant

        ##### Bachelor Nursing – Registered Nurse, Currently studying Masters of Nursing – Majoring in Nursing Leadership

        Belinda Kiakpe is a Registered Nurse and specialises in clinical governance. She has a strong background in 
        clinical management of community care services and is currently responsible for the development of 
        policies, procedures and e-learning resources for the Luminise Quality Management System. Her 
        experience includes management of care teams including funding procurement, clinical governance, HR 
        management and suitability testing. Belinda is well adept to the issues facing our older Australians and the 
        services available to ensure their safety. She is currently completing case management and clinical support 
        for community and government organisations.

        Belinda has spent the last 3 years working for organisations that provide care services within a retirement 
        village environment. This includes regional management at Freedom Aged Care and consultancy services 
        for The Henley on Broadwater. These organisations provide high care solutions that enable residents to 
        truly age-in-place within their own home. During this time she has developed a strong knowledge of the 
        operational requirements, the complexity of the model and the practical application of services.

  .member
    .pic
    .content
      :markdown
        ### Michael McClintock - Software Engineer, Director (Lucent Labs)

        ##### Bachelor Engineering, Bachelor Science

        Michael represents the tech side of luminise. He has a experience with a wide 
        range of technologies and enjoys the everyday challenges of building robust and
        capable infomation systems. At Luminise he is responsible for implementing and maintaining the
        luminise quality management system as well as various other web assets. 


        









  //- .container
    h1.top-header Luminise Care Solutions Pty Ltd
    p Luminise Care Solutions is currently engaged to Freedom Total Life Care to provide corporate management of care delivery into their Retirement Villages.  This team comprises of Registered Nurses, personal care workers and support staff, and currently provides 24-hour care support to over 100 consumers. Luminise Care Solutions has also overseen the implementation of a comprehensive quality management system covering all aspects of the business (including care delivery), which complies with the requirements of the Aged Care Act.

    p The Luminise Director also brings a history of successfully managing services through many community care audits including Home Care Packages, Home And Community Care, Disability Services, Department of Veteran Affairs Community Nursing and Veterans Home Care.

    p The Luminise Director has managed CDC pilot package implementation in their previous employment. This required identifying and inculcating a number of changes within the organisational structure to embed consumer directed care philosophy.

    hr

    h1 Our Director
    h2 DANIELLE RUNGE
    h3 Bachelor Nursing - Registered Nurse, Dip Managment, Cert IV Training and Assessment
    .pic-box
      img#img-danielle
    .profile-box
      p
        | Danielle has worked in a wide range of senior
        | management positions in Home Care delivery for the
        | last 5 years including direct service management,
        | business, resource and finance management. Within
        | these roles she was responsible for implementing a
        | number of government funded care services including
        | Home Care Packages, DVA Community Nursing and Sub-
        | Acute Care. Danielle has spent eighteen months in
        | the role of Quality Manager with PresCare. In this
        | role she oversaw the quality management system and
        | supported care services in quality compliance and
        | through Departmental audit processes.
      p Quality improvements implemented include an electronic consumer feedback system, review of policies and procedures across all parts of the organisation, the development and implementation of the medication manual specifically written for community care and an organisational care governance process. Danielle has extensive knowledge of quality management and continuous improvement and is currently developing a quality software system to assist organisations to achieve better consumer satisfaction and business development.

      //- p
      //-   | Quality improvements implemented include an electronic consumer feedback system, review of policies and procedures across all parts of the organisation, the development and implementation of the medication manual specifically written for community care and an organisation
