#team
  .container
    h1.top-header Luminise Care Solutions Pty Ltd
    p Luminise Care Solutions is currently engaged to Freedom Total Life Care to provide corporate management of care delivery into their Retirement Villages.  This team comprises of Registered Nurses, personal care workers and support staff, and currently provides 24-hour care support to over 100 consumers. Luminise Care Solutions has also overseen the implementation of a comprehensive quality management system covering all aspects of the business (including care delivery), which complies with the requirements of the Aged Care Act.

    p The Luminise Director also brings a history of successfully managing services through many community care audits including Home Care Packages, Home And Community Care, Disability Services, Department of Veteran Affairs Community Nursing and Veterans Home Care.

    p The Luminise Director has managed CDC pilot package implementation in their previous employment. This required identifying and inculcating a number of changes within the organisational structure to embed consumer directed care philosophy.

    hr

    h1 Our Director
    h2 DANIELLE RUNGE
    h3 Bachelor Nursing - Registered Nurse, Dip Managment, Cert IV Training and Assessment
    .pic-box
      img#img-danielle
    .profile-box
      p
        | Danielle has worked in a wide range of senior
        | management positions in Home Care delivery for the
        | last 5 years including direct service management,
        | business, resource and finance management. Within
        | these roles she was responsible for implementing a
        | number of government funded care services including
        | Home Care Packages, DVA Community Nursing and Sub-
        | Acute Care. Danielle has spent eighteen months in
        | the role of Quality Manager with PresCare. In this
        | role she oversaw the quality management system and
        | supported care services in quality compliance and
        | through Departmental audit processes.
      p Quality improvements implemented include an electronic consumer feedback system, review of policies and procedures across all parts of the organisation, the development and implementation of the medication manual specifically written for community care and an organisational care governance process. Danielle has extensive knowledge of quality management and continuous improvement and is currently developing a quality software system to assist organisations to achieve better consumer satisfaction and business development.

      //- p
      //-   | Quality improvements implemented include an electronic consumer feedback system, review of policies and procedures across all parts of the organisation, the development and implementation of the medication manual specifically written for community care and an organisation
